/*
COLOR PALLETTE
https://coolors.co/db2b39-29335c-f3a712-f0cea0-534d41
#DB2B39 - rose madder
#29335C - space cadet
#F3A712 - marigold
#F0CEA0 - deep champaign
#534D41 - dark lava
*/

/*Global Styles
-------------------------------*/
body {
    color: #343434;
}
img {
    width: 300px;
}

/*Profile
-------------------------------*/
header {
    background: #29335C;
}

/* Projects
-------------------------------*/


/* Work Experience
-------------------------------*/


/* Education
-------------------------------*/


/* Contact Info
-------------------------------*/

