/*
COLOR PALLETTE
https://coolors.co/211a1d-5d737e-fff07c-f0f7ee-c9f0ff
#211A1D - Raisin Black
#5D737E - Cadet
#FFF07C - Yellow Crayola
#F0F7EE - Mint Cream
#C9F0FF - Columbia Blue
*/

/*Global Styles
-------------------------------*/
body {
    color: #343434;
    margin: 0;
    padding: 0px;
}
img {
    width: 300px;
}
a {
    color: #FFF07C;
}
a:hover {
    text-decoration: none;
}
h2 {
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/*Profile
-------------------------------*/
header {
    background: #5D737E;
    color:#F0F7EE;
}


/* Projects
-------------------------------*/
.projects {
    background: #F0F7EE;
}
.projects a {
    color: #5D737E;
}
.projects .btn {
    color: #C9F0FF;
    background: #5D737E;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(93, 115, 126, 80%);
}
/* Work Experience
-------------------------------*/
.work-experience {
    background: #FFF07C;
}

/* Education
-------------------------------*/


/* Contact Info
-------------------------------*/
footer {
    background: #211A1D;
    color: #F0F7EE;
}
