/*
COLOR PALLETTE
https://coolors.co/211a1d-5d737e-fff07c-f0f7ee-c9f0ff
#211A1D - Raisin Black
#5D737E - Cadet
#FFF07C - Yellow Crayola
#F0F7EE - Mint Cream
#C9F0FF - Columbia Blue
*/

/*Global Styles
-------------------------------*/
html {
    box-sizing: border-box;
}
*,*:before, *after {
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #FFF07C;/*yellow*/
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap { /* center text */
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/*Profile
-------------------------------*/
header {
    background: #5D737E; /* colour - Cadet */
    color:#F0F7EE;
}


/* Projects
-------------------------------*/
.projects {
    background: #F0F7EE;/* colour - Mint Cream */
}
.projects a {
    color: #5D737E; /* colour - Cadet */
}
.projects .btn { 
    color: #C9F0FF;
    background: #5D737E; /* colour - Cadet */
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(93, 115, 126, 80%); /* decrease opacity on hover */
}
.project-item img {
    float: left;
}
/* Work Experience
-------------------------------*/
.work-experience {
    background: #FFF07C; /* yellow */
}

/* Education
-------------------------------*/


/* Contact Info
-------------------------------*/
footer {
    background: #211A1D; /* colour - Raisin */
    color: #F0F7EE; /* colour - Mint Cream */
}
